extends ../layouts/default

block main
	main
		.container
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Haec et tu ita posuisti, et verba vestra sunt. Nec vero alia sunt quaerenda contra Carneadeam illam sententiam. Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio? Quid est, quod ab ea absolvi et perfici debeat? Cur, nisi quod turpis oratio est? Duo Reges: constructio interrete. Si longus, levis dictata sunt. Tollenda est atque extrahenda radicitus. Ab hoc autem quaedam non melius quam veteres, quaedam omnino relicta.
		h1 Hallo World!
		h2 Was geht ab? hallo hallo lol rofl