extends ../_templates/_page/01_2Columns.pug

block vars
	- var title = "src-kit"
	- var bodyClass = "home"
	- var metaDescription = "Homepage"

block colPos0
	h1 Hallo World!

block colPos1
	h2 Hallo World!
