extends ../templates/page/template-selector

block vars
	- var title = "src-kit"
	- var bodyClass = "home"
	- var metaDescription = "Homepage"
	- var template = 0

block colPos0
	.row.column
		h1 Hello World!

		h2 Hello World!

		h3 Hello World!

		h4 Hello World!

		h5 Hello World!

		h6 Hello World!

		a.button() Zu den Produkten

		a.button.secondary Produktdetails

		a.button.third Produktdetails

		.row
			.column.small-4
				.product
					a.product__image
						img(src="http://placehold.it/400x400x")
					.product__detail


					.product__action
						a.button.secondary.expanded Jetzt individualisieren
						.button-group
							a.button.primary Produktdetails
							div.spacer
								a.button.third.icon.icon-shopping-cart

		nav#main-nav
			ul.menu
				li
					a(href="#") Gestalten
				li
					a(href="#") Taschen & Beutel
				li
					a(href="#") Veredelung
				li
					a(href="#") Nachhaltigkeit
				li
					a(href="#") Über uns

				li.search
					div
						input(type="text", placeholder="Suche")

		//nav#main-nav
		//	.top-bar
		//		.top-bar-left
		//			ul.menu
		//				li
		//					a(href='#') Gestalten
		//				li
		//					a(href='#') Taschen & Beutel
		//				li
		//					a(href='#') Veredelung
		//
		//				li
		//					a(href='#') Nachhaltigkeit
		//
		//				li
		//					a(href='#') Über uns
		//		.top-bar-right
		//			ul.menu
		//				li
		//					input(type='search', placeholder='Search')

	hr

	.top-bar.top-bar--header
		.row.column
			.top-bar-left
				span Gratis Versand innherhalb Deutschlands

			.top-bar-right
				a.icon-link #[span(class="icon icon-shopping-cart")] Warenkorb
				a.icon-link #[span(class="icon icon-user")] Anmelden / Registrieren





