extends ../templates/page/template-selector

block vars
    - var title = "src-kit"
    - var bodyClass = "home"
    - var metaDescription = "Homepage"
    - var template = 0

block colPos0
    h1 Hallo World
