doctype html
html(lang="de")
    block vars
    include ../templates/head/_head

    if (typeof(bodyClass) !== 'undefined')
        body(class="#{bodyClass}")
    else
        body

    block template

    include ../templates/footer/_scripts
